* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --text-color: hsl(241, 100%, 89%);
  --main-gradient-1: hsl(252, 100%, 67%);
  --main-gradient-2: hsl(241, 81%, 54%);
  --score-gradient-1: hsla(256, 72%, 46%, 1);
  --score-gradient-2: hsla(241, 72%, 46%, 0);
}

main {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(var(--main-gradient-1), var(--main-gradient-2));
  color: var(--text-color);
  padding: 20px 15%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.label {
  font-weight: 700;
}

.score-bubble {
  text-align: center;
  background: linear-gradient(var(--score-gradient-1), var(--score-gradient-2));
  border-radius: 50%;
  padding: 30px;
  width: 150px;
  height: 150px;
}

.score {
  font-size: 3em;
  font-weight: 800;
}

.white {
  color: #fff;
}

.text-wrap {
  text-align: center;
}

.head {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.description {
  font-size: 0.9em;
}

.summary {
}

.title {
}

.stat-container {
}
